name: Deploy to AAPanel Test

on:
  push:
    tag: 'demo/*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deploy to AAPanel
        run: |
          echo "=== Started to AAPanel ==="
          curl -X POST ${{ secrets.AAPANEL_TRIGER }}
          echo "=== Deploy to AAPanel Done ==="